@charset "UTF-8";
.modal {
	position: absolute;
	display : none;
	
	justify-content: center;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 1000px;
	
	background-color: rgba(0,0,0,0.4);
	
	 z-index: 999;
}

.modal_body {
	position: absolute;
	top: 45%;
	left: 55%;
	
	width: 500px;
	height: 80%;
	
	padding: 40px;
	
	text-align: center;
	background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform: translate(-50%, -50%);
    
    z-index: 999;
}

.modal_body h3 {
	margin-bottom: 10px;
}

.modal.on {
	display: block;
}

#modal-form {
	border: none;
	padding: 0;
	width: 400px;
}

#modal-form table {
	width: 400px;
	height: 400px;
	margin-left: auto;
}

#modal-form table th {
	background-color: #F3F6F9;
}